$border-color-normal: lightgray;
$border-color-hover: darken($border-color-normal, 15%);
$border-color-focus: darken($border-color-normal, 10%);

$button-color-normal: gainsboro;
$button-color-hover: darken($button-color-normal, 15%);
$button-color-focus: darken($button-color-normal, 10%);

.input {
    width: 100%;
    padding: 0.4em 0.25em;
    border: solid 1px $border-color-normal;
    &::-webkit-input-placeholder {
        font-style: italic;
        color: $border-color-normal;
    }
    &:focus {
        outline: 0;
        border-color: $border-color-focus;
    }
}

.button {
    border: solid 1px $border-color-normal;
    background-color: $button-color-normal;
    &:hover {
        border-color: $border-color-hover;
        background-color: $button-color-hover;
    }
    &:focus {
        outline: 0;
        border-color: $border-color-hover;
        background-color: $button-color-hover;
    }
}

.input-with-button {
    position: relative;
    .input {
        &:focus {
            & + .button {
                border-color: $border-color-focus;
                background-color: $button-color-focus;
                &:hover {
                    border-color: $border-color-hover;
                    background-color: $button-color-hover;
                }
            }
        }
    }
    .button {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
    }
}
.input-with-button--small {
    $button-width: 3em;

    .input { padding-right: $button-width; }
    .button { width: $button-width; }
}
