$color-background: #fff;
$color-background-dark: #f0f0f0;
$color-text: #333;
$color-text-highlight: #d8d8d8;
$color-text-inverted: #fff;
$color-border: #e8e8e8;
$color-accent: #a00909;
$color-complementary: #9ec7c5;

$typeface-sans-serif: 'Roboto Condensed', sans-serif;
$typeface-serif: 'Merriweather', serif;
