@import "../common/colors";

.notebook {
    max-width: 960px;
    min-width: 320px;
    margin: 120px auto 30px;
    padding: 0 1em;
}
@media (min-width: 768px) {
    .notebook {
        width: 70%;
    }
}
.notebook__header {
    .icon {
        color: $color-accent;
        padding-right: 0.3em;
        font-size: 0.7em;
    }
}

.notes {
    list-style: none;
    padding: 0;
    margin: 1.5em 0;
}
.notes__item {
    border-bottom: solid 1px $color-border;
    &:last-child {
        border-bottom: none;
    }
}

.note {
    padding: 1.2em 0 0.5em;
}
.note__timestamp {
    text-align: right;
    font-size: 0.8em;
    color: $color-text-highlight;
    font-style: italic;
    letter-spacing: 0.1em;
}
