@import "../common/vars";

.wrapper {
    max-width: 960px;
    min-width: 320px;
    margin: 120px auto 30px;
    padding: 0 1em;
}
@media (min-width: 768px) {
    .wrapper {
        width: 70%;
    }
}

.header {
    .icon {
        color: $color-accent;
        padding-right: 0.4em;
        font-size: 0.7em;
    }
}

.footer {
    text-align: right;
    margin-top: 6em;
    a {
        text-decoration: none;
        color: $color-accent;
        &:hover {
            color: lighten($color-accent, 15%);
        }
    }
}
