@import "../common/vars";

.notebook {}

.notebook__count {
    color: $color-text-highlight;
    font-style: italic;
}

.notes {
    list-style: none;
    padding: 0;
    margin: 1em 0;
}
.notes__item {
    padding: 0.66em 0;
}
.add-note__form {
    margin-left: 3em;
}
